<div *ngIf="userSession.isUserSignedIn()">
    <div id="info-box" class="card-container">
        <div class="info-box-line">Idle Tokens:
            <table id="idle-info">
                <tr>
                    <td># LP Tokens</td>
                    <td># USDA</td>
                    <td># xUSD</td>
                </tr>
            </table>
        </div>
        <div class="info-box-line">Active Tokens:
            <table id="active-info">
                <tr style="text-align:center;">
                    <td># LP Tokens</td>
                    <td>$ Amount:</td>
                    <!-- <td>Unclaimed Rewards:</td> -->
                </tr>
            </table>
        </div>
        <div class="info-box-line">Total Pool Info:
            <table id="pool-info">
                <tr style="text-align:center;">
                    <td>Total TVL: $</td>
                    <td>7d Trading Volume:</td>
                    <td>Trading Fees: 0.04%</td>      
                </tr>
            </table>            
        </div>
    </div>

    <!-- start of pool box-->
    <div id="pool-box-main" class="card-container">
      <div id="pool-box-header">POOL</div>
      <div id="add-remove-toggle">
        <mat-button-toggle-group name="poolChoice">
            <mat-button-toggle value="add" (click)="toggle('add')">Add to Pool</mat-button-toggle>
            <mat-button-toggle value="remove" (click)="toggle('remove')">Remove Liquidity</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div *ngIf="poolChoice=='add'" id="add-liquidity-div">
        <div id="token-A-box" class="token-box">
            <table style="display:table; width:100%">
              <tr align="center">
                <td align="left" style="float:left;">
                  <!-- token dropdown -->
                  <div id="token-dropdown">
                    <!-- <mat-slider min="1" max="100" step="1" value="50"></mat-slider> -->
                    <mat-form-field appearance="fill" style="max-width:85%; background-color: cornsilk; border-radius: 10px;">
                      <mat-label>Select Token</mat-label>
                      <mat-select (selectionChange)="selectToken($event, 'A')">
                        <mat-option *ngFor="let token of tokenList" [value]="token">{{token}}</mat-option>
                      </mat-select>
                    </mat-form-field>
      
                  </div>
                </td>
                <td style="max-width: 40%;">
                  <mat-form-field appearance="fill" floatLabel="always" style="max-width:85%; background-color: cornsilk; border-radius: 10px; color:#254841">
                    <mat-label>Amount</mat-label>
                    <input matInput type="number" min="1" class="input-right-align" placeholder="0" #tokenA_Amount (keyup)="updateTokenAmount(tokenA_Amount.value, 'A')" [(ngModel)]="tokenA_amt" >
                    <span matPrefix>$&nbsp;</span>
                    <!-- <span matSuffix>.00</span> -->
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td style="float:left; font-size: x-small;">
                  <!-- balance display -->            
                  &nbsp; balance: #
                </td>
                <!-- dollar equivalent -->
                <!-- <td style="text-align:right; font-size: x-small; max-width: 40%;">
                  dollar equivalent
                </td> -->
              </tr>
            </table>
          </div>
      
          <div id="plus-row">
            <div id="plus-circle" style="background-color:cornsilk; border-radius:50%; max-width: 35px; border: 2px solid #254841;">&plus;</div>
          </div>
      
          <div id="token-B-box" class="token-box">
            <table style="display:table; width:100%">
              <tr align="center">
                <td align="left" style="float:left;">
                  <!-- token dropdown -->
                  <div id="token-dropdown">
                    <!-- <mat-slider min="1" max="100" step="1" value="50"></mat-slider> -->
                    <mat-form-field appearance="fill" style="max-width:85%; background-color: cornsilk; border-radius: 10px;">
                      <mat-label>Select Token</mat-label>
                      <mat-select (selectionChange)="selectToken($event, 'B')">
                        <mat-option *ngFor="let token of tokenList" [value]="token">{{token}}</mat-option>
                      </mat-select>
                    </mat-form-field>
      
                  </div>
                </td>
                <td style="max-width: 40%;">
                  <mat-form-field appearance="fill" floatLabel="always" style="max-width:85%; background-color: cornsilk; border-radius: 10px; color:#254841">
                    <mat-label>Amount</mat-label>
                    <input matInput type="number" min="1" class="input-right-align" placeholder="0" #tokenAmount_B (keyup)="updateTokenAmount(tokenAmount_B.value, 'B')"  [(ngModel)]="tokenB_amt">
                    <span matPrefix>$&nbsp;</span>
                    <!-- <span matSuffix>.00</span> -->
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td style="float:left; font-size: x-small;">
                  <!-- balance display -->            
                  &nbsp; balance: #
                </td>
                <!-- dollar equivalent -->
                <!-- <td style="text-align:right; font-size: x-small; max-width: 40%;">
                  dollar equivalent
                </td> -->
              </tr>
            </table>      
          </div>
          
          <div class="card" id="swap-box-footer">
            <button (click)="swap('🍎')">Confirm</button>
          </div>
      </div>
      <div *ngIf="poolChoice=='remove'">
        <div id="token-A-box" class="token-box">
            <table style="display:table; width:100%">
              <tr align="center">
                <td align="left" style="float:left;">
                  <!-- token dropdown -->
                  <div id="token-dropdown">
                    <!-- <mat-slider min="1" max="100" step="1" value="50"></mat-slider> -->
                    <mat-form-field appearance="fill" style="max-width:85%; background-color: cornsilk; border-radius: 10px;">
                      <mat-label>Select LP Token</mat-label>
                      <mat-select (selectionChange)="selectToken($event, 'LP')">
                        <mat-option *ngFor="let token of lpTokenList" [value]="token">{{token}}</mat-option>
                      </mat-select>
                    </mat-form-field>
      
                  </div>
                </td>
                <td style="max-width: 40%;">
                  <mat-form-field appearance="fill" floatLabel="always" style="max-width:85%; background-color: cornsilk; border-radius: 10px; color:#254841">
                    <mat-label>Amount of LP Tokens</mat-label>
                    <input matInput type="number" min="1" class="input-right-align" placeholder="0" #tokenLP_Amount (keyup)="updateTokenAmount(tokenLP_Amount.value, 'LP-pool')" [(ngModel)]="lpToken_amt_user_pool" >
                    <!-- <span matSuffix>.00</span> -->
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td style="float:left; font-size: x-small;">
                  <!-- balance display -->            
                  &nbsp; balance: #
                </td>
                <!-- dollar equivalent -->
                <!-- <td style="text-align:right; font-size: x-small; max-width: 40%;">
                  dollar equivalent
                </td> -->
              </tr>
            </table>
          </div>
        <div class="card" id="swap-box-footer">
            <button (click)="swap('🍎')">Confirm</button>
        </div>
      </div>
    </div>
    <!-- end of pool box-->

    <!-- start of earn box-->
    <div id="earn-box-main" class="card-container">
        <div id="earn-box-header">EARN</div>
        <div id="token-A-box" class="token-box">
            <table style="display:table; width:100%">
                <tr align="center">
                    <td align="left" style="float:left;">
                    <!-- token dropdown -->
                    <div id="token-dropdown">
                        <mat-form-field appearance="fill" style="max-width:85%; background-color: cornsilk; border-radius: 10px;">
                        <mat-label>Select LP Token</mat-label>
                        <mat-select (selectionChange)="selectToken($event, 'LP')">
                            <mat-option *ngFor="let token of lpTokenList" [value]="token">{{token}}</mat-option>
                        </mat-select>
                        </mat-form-field>
        
                    </div>
                    </td>
                    <td style="max-width: 40%;">
                    <mat-form-field appearance="fill" floatLabel="always" style="max-width:85%; background-color: cornsilk; border-radius: 10px; color:#254841">
                        <mat-label>Amount of LP Tokens</mat-label>
                        <input matInput type="number" min="1" class="input-right-align" placeholder="0" #tokenLP_Amount (keyup)="updateTokenAmount(tokenLP_Amount.value, 'LP-earn')" [(ngModel)]="lpToken_amt_user_earn">
                        <!-- <span matSuffix>.00</span> -->
                    </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td style="float:left; font-size: x-small;">
                    <!-- balance display -->            
                    &nbsp; balance: #
                    </td>
                    <!-- dollar equivalent -->
                    <!-- <td style="text-align:right; font-size: x-small; max-width: 40%;">
                    dollar equivalent
                    </td> -->
                </tr>
            </table>
        </div>
        <div id="slider-row">

            <mat-form-field appearance="fill" floatLabel="always" style="max-width:85%; background-color: cornsilk; border-radius: 10px; color:#254841">
                <mat-label>Number of Cycles (1 Cycle ~ 1 Day)</mat-label>
                <input matInput type="number" min="1" class="input-right-align" placeholder="" #nCycles (keyup)="printNumCycles()" [(ngModel)]="numCycles" >
                <!-- <span matSuffix>.00</span> -->
            </mat-form-field>
            <mat-slider min="1" max="100" step="1" value="50" [(ngModel)]="numCycles" (ngModelChange)="printNumCycles()"></mat-slider>

        </div>
        <div class="card" id="swap-box-footer">
            <button (click)="swap('🍎')">Confirm</button>
        </div>
      </div>
    <!-- end of earn box-->

    <!-- start of cycle box -->
    <div id="cycle-box-main" class="card-container">
        <div id="cycle-box-header">CYCLE REWARDS</div>
        <div id="add-remove-toggle">
            <mat-button-toggle-group name="cycleView">
                <!--TODO: change cycle view to data and claim rewards-->
                <mat-button-toggle value="upcoming" (click)="cvToggle('cycle')">Cycle Data</mat-button-toggle>
                <mat-button-toggle value="completed" (click)="cvToggle('claim')">Claim Rewards</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
          <!--TODO: show/hide previous cycles based on toggle-->
          <div *ngIf="cycleView=='cycle'" id="upcoming-cycles" class="cycle-table">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <!-- Position Column -->
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>

                <!-- startBlock Column -->
                <ng-container matColumnDef="startBlock">
                    <th mat-header-cell *matHeaderCellDef> Block </th>
                    <td mat-cell *matCellDef="let element"> {{element.startBlock}} </td>
                </ng-container>

                <!-- Total Tokens Column -->
                <ng-container matColumnDef="totalLPtokens">
                    <th mat-header-cell *matHeaderCellDef> Total Tokens </th>
                    <td mat-cell *matCellDef="let element"> {{element.totalLPtokens}} </td>
                </ng-container>

                <!-- My Tokens Column -->
                <ng-container matColumnDef="userLPtokens">
                    <th mat-header-cell *matHeaderCellDef> My Tokens </th>
                    <td mat-cell *matCellDef="let element"> {{element.userLPtokens}} </td>
                </ng-container>

                <!-- Rewards Column -->
                <ng-container matColumnDef="userRewards">
                    <th mat-header-cell *matHeaderCellDef> Rewards </th>
                    <td mat-cell *matCellDef="let element"> {{element.userRewards}} </td>
                </ng-container>

                <!-- Call to Action Column -->
                <!-- TODO: This should be clickable!!!!! -->
                <ng-container matColumnDef="userCTA">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let element"> {{element.userCTA}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>                
            </table>
          </div>
          <div *ngIf="cycleView=='claim'" id ='completed-cycles'>
            <div id="token-A-box" class="token-box">
                <table style="display:table; width:100%">
                  <tr align="center">
                    <td align="left" style="float:left;">
                      <!-- token dropdown -->
                      <div id="token-dropdown">
                        <!-- <mat-slider min="1" max="100" step="1" value="50"></mat-slider> -->
                        <mat-form-field appearance="fill" style="max-width:85%; background-color: cornsilk; border-radius: 10px;">
                          <mat-label>Select LP Token</mat-label>
                          <mat-select (selectionChange)="selectToken($event, 'LP')">
                            <mat-option *ngFor="let token of lpTokenList" [value]="token">{{token}}</mat-option>
                          </mat-select>
                        </mat-form-field>
          
                      </div>
                    </td>
                    <td style="max-width: 40%;">
                      <mat-form-field appearance="fill" floatLabel="always" style="max-width:85%; background-color: cornsilk; border-radius: 10px; color:#254841">
                        <mat-label>Enter the Cycle Number</mat-label>
                        <input matInput type="number" min="1" class="input-right-align" placeholder="1" #cycleClaimNum (keyup)="updateTokenAmount(cycleClaimNum.value, 'Cycle')" [(ngModel)]="cycleClaimNumber" >
                        <!-- <span matSuffix>.00</span> -->
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <td style="float:left; font-size: x-small;">
                      <!-- balance display -->            
                      &nbsp; balance: #
                    </td>
                    <!-- dollar equivalent -->
                    <!-- <td style="text-align:right; font-size: x-small; max-width: 40%;">
                      dollar equivalent
                    </td> -->
                  </tr>
                </table>
              </div>
          </div>
        <div class="card" id="swap-box-footer">
            <button (click)="swap('🍎')">Confirm</button>
        </div>
    </div>
    <!-- end of cycle box  -->
</div>

<div *ngIf="!userSession.isUserSignedIn()">
    <app-connect-wallet></app-connect-wallet>
</div>
