<div *ngIf="userSession.isUserSignedIn()" id="earn-container">
  <section class="earn-section">
    <div class="earn-box">
      <h2 class="earn-title">Escrow</h2>

      <div class="token-container">
        <div class="fields">
          <mat-form-field appearance="fill" class="select-field">
            <mat-label>Select Token</mat-label>
            <mat-select (selectionChange)="selectToken($event, 'LP-Earn')">
              <mat-option *ngFor="let token of earnOptions" [value]="token">{{
                token
              }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field
            appearance="fill"
            floatLabel="always"
            class="select-field"
          >
            <mat-label>Amount of Tokens</mat-label>
            <input
              matInput
              type="number"
              min="1"
              class="input-right-align"
              placeholder="0"
              #tokenLP_Amount
              (keyup)="updateTokenAmount(tokenLP_Amount.value, 'LP-earn')"
              [(ngModel)]="lpToken_amt_user_earn"
            />
            <!-- <span matSuffix>.00</span> -->
          </mat-form-field>
        </div>
        <div class="balance-container" *ngIf="!!lpToken">
          <span>Balance: {{lpToken == 'USDA-xUSD-LP' ? usdlpBalance : xbtcBalance}}</span>
          <span style="opacity: 0;">#</span>
        </div>
      </div>

      <div class="token-container slider-section">
        <div class="fields">
          <mat-form-field
            appearance="fill"
            floatLabel="always"
            class="select-field"
          >
            <mat-label>Number of Cycles (1 Cycle ~ 1 Day)</mat-label>
            <input
              matInput
              type="number"
              min="1"
              class="input-right-align"
              placeholder=""
              #nCycles
              (keyup)="printNumCycles()"
              [(ngModel)]="numCycles"
            />
            <!-- <span matSuffix>.00</span> -->
          </mat-form-field>
          <mat-slider
            min="1"
            max="100"
            step="1"
            value="50"
            [(ngModel)]="numCycles"
            (ngModelChange)="printNumCycles()"
          ></mat-slider>
        </div>
      </div>

      <button class="confirm-button" (click)="stakeOrEscrow()">Confirm</button>
    </div>
  </section>

  <section class="earn-section">
    <div class="earn-box">
      <h2 class="earn-title">Rewards</h2>

      <div id="add-remove-toggle">
        <mat-button-toggle-group class="toggle-group" name="cycleView">
          <!--TODO: change cycle view to data and claim rewards-->
          <mat-button-toggle
            value="search"
            class="first-toggle btn-toggle"
            (click)="cvToggle('search')"
            [ngClass]="{ 'btn-toggle-active': cycleView === 'search' }"
            [checked]="cycleView === 'search'"
            >Search Cycles</mat-button-toggle
          >
          <mat-button-toggle
            class="second-toggle btn-toggle"
            value="claim"
            (click)="cvToggle('claim')"
            [ngClass]="{ 'btn-toggle-active': cycleView === 'claim' }"
            [checked]="cycleView === 'claim'"
            >Claim Rewards</mat-button-toggle
          >
        </mat-button-toggle-group>
      </div>

      <div class="token-container">
        <div class="fields">
          <mat-form-field appearance="fill" class="select-field">
            <mat-label>Select LP Token</mat-label>
            <mat-select
              (selectionChange)="selectToken($event, 'LP-rewardCycle')"
            >
              <mat-option *ngFor="let token of lpTokenList" [value]="token">{{
                token
              }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field
            appearance="fill"
            floatLabel="always"
            class="select-field"
          >
            <mat-label>Enter the Cycle Number</mat-label>
            <input
              matInput
              type="number"
              min="1"
              class="input-right-align"
              placeholder="1"
              #cycleClaimNum
              (keyup)="updateTokenAmount(cycleClaimNum.value, 'Cycle')"
              [(ngModel)]="cycleClaimNumber"
            />
            <!-- <span matSuffix>.00</span> -->
          </mat-form-field>
        </div>

        <div *ngIf="clickedSearch && cycleView === 'search'" class="cycle-data">
          <span>Current Cycle: {{ currentCycle }}</span>
          <span>Token Rewards at</span>
          <span>Cycle #{{ cycleClaimNumber }}</span>
          <span>{{ token_x_symbol }}: {{ token_x_rewards }}</span>
          <span>{{ token_y_symbol }}: {{ token_y_rewards }}</span>
        </div>
      </div>

      <button class="rewards-button" (click)="handlePressRewardsButton()">
        {{ cycleView === 'search' ? 'Search' : 'Confirm' }}
      </button>
    </div>
  </section>
</div>

<div class="connect-wallet-container" *ngIf="!userSession.isUserSignedIn()">
  <app-connect-wallet></app-connect-wallet>
</div>
