<div *ngIf="userSession.isUserSignedIn()">
    <!-- <div id="info-box" class="card-container">
        <div class="info-box-line">Idle Tokens:
            <table id="idle-info">
                <tr>
                    <td># LP Tokens</td>
                    <td># USDA</td>
                    <td># xUSD</td>
                </tr>
            </table>
        </div>
        <div class="info-box-line">Active Tokens:
            <table id="active-info">
                <tr style="text-align:center;">
                    <td># LP Tokens</td>
                    <td>$ Amount:</td>
                </tr>
            </table>
        </div>
        <div class="info-box-line">Total Pool Info:
            <table id="pool-info">
                <tr style="text-align:center;">
                    <td>Total TVL: $</td>
                    <td>7d Trading Volume:</td>
                    <td>Trading Fees: 0.04%</td>      
                </tr>
            </table>            
        </div>
    </div> -->

    <!-- start of pool box-->
    <div id="pool-box-main" class="card-container">
      <div id="pool-box-header">POOL</div>
      <div id="add-remove-toggle">
        <mat-button-toggle-group name="poolChoice">
            <mat-button-toggle value="add" (click)="toggle('add')">Add to Pool</mat-button-toggle>
            <mat-button-toggle value="remove" (click)="toggle('remove')">Remove Liquidity</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div *ngIf="poolChoice=='add'" id="add-liquidity-div">
        <div id="token-A-box" class="token-box">
            <table style="display:table; width:100%">
              <tr align="center">
                <td align="left" style="float:left;">
                  <!-- token dropdown -->
                  <div id="token-dropdown">
                    <!-- <mat-slider min="1" max="100" step="1" value="50"></mat-slider> -->
                    <mat-form-field appearance="fill" style="max-width:85%; background-color: #F5F5F5; border-radius: 10px;">
                      <mat-label>Select Token</mat-label>
                      <mat-select (selectionChange)="selectToken($event, 'A')">
                        <mat-option *ngFor="let token of tokenList" [value]="token">{{token}}</mat-option>
                      </mat-select>
                    </mat-form-field>
      
                  </div>
                </td>
                <td style="max-width: 40%;">
                  <mat-form-field appearance="fill" floatLabel="always" style="max-width:85%; background-color: #F5F5F5; border-radius: 10px; color:cornsilk">
                    <mat-label>Amount</mat-label>
                    <input matInput type="number" min="1" class="input-right-align" placeholder="0" #tokenA_Amount (keyup)="updateTokenAmount(tokenA_Amount.value, 'A')" [(ngModel)]="tokenA_amt" >
                    <span matPrefix>$&nbsp;</span>
                    <!-- <span matSuffix>.00</span> -->
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td style="float:left; font-size: x-small;">
                  <!-- balance display -->            
                  &nbsp; balance: #
                </td>
                <!-- dollar equivalent -->
                <!-- <td style="text-align:right; font-size: x-small; max-width: 40%;">
                  dollar equivalent
                </td> -->
              </tr>
            </table>
          </div>
      
          <div id="plus-row">
            <div id="plus-circle" style="background-color:#254841; border-radius:50%; max-width: 35px; border: 2px solid #45A165;">&plus;</div>
          </div>
      
          <div id="token-B-box" class="token-box">
            <table style="display:table; width:100%">
              <tr align="center">
                <td align="left" style="float:left;">
                  <!-- token dropdown -->
                  <div id="token-dropdown">
                    <!-- <mat-slider min="1" max="100" step="1" value="50"></mat-slider> -->
                    <mat-form-field appearance="fill" style="max-width:85%; background-color: #F5F5F5; border-radius: 10px;">
                      <mat-label>Select Token</mat-label>
                      <mat-select (selectionChange)="selectToken($event, 'B')">
                        <mat-option *ngFor="let token of tokenList" [value]="token">{{token}}</mat-option>
                      </mat-select>
                    </mat-form-field>
      
                  </div>
                </td>
                <td style="max-width: 40%;">
                  <mat-form-field appearance="fill" floatLabel="always" style="max-width:85%; background-color: #F5F5F5; border-radius: 10px; color:cornsilk">
                    <mat-label>Amount</mat-label>
                    <input matInput type="number" min="1" class="input-right-align" placeholder="0" #tokenAmount_B (keyup)="updateTokenAmount(tokenAmount_B.value, 'B')"  [(ngModel)]="tokenB_amt">
                    <span matPrefix>$&nbsp;</span>
                    <!-- <span matSuffix>.00</span> -->
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td style="float:left; font-size: x-small;">
                  <!-- balance display -->            
                  &nbsp; balance: #
                </td>
                <!-- dollar equivalent -->
                <!-- <td style="text-align:right; font-size: x-small; max-width: 40%;">
                  dollar equivalent
                </td> -->
              </tr>
            </table>      
          </div>
          
          <div class="card" id="swap-box-footer">
            <!-- <button (click)="swap('🍎')">Confirm</button> -->
            <button (click)="addToPool()">Confirm</button>
          </div>
      </div>
      <div *ngIf="poolChoice=='remove'">
        <div id="token-A-box" class="token-box">
            <table style="display:table; width:100%">
              <tr align="center">
                <td align="left" style="float:left;">
                  <!-- token dropdown -->
                  <div id="token-dropdown">
                    <!-- <mat-slider min="1" max="100" step="1" value="50"></mat-slider> -->
                    <mat-form-field appearance="fill" style="max-width:85%; background-color: #F5F5F5; border-radius: 10px;">
                      <mat-label>Select LP Token</mat-label>
                      <mat-select (selectionChange)="selectToken($event, 'LP')">
                        <mat-option *ngFor="let token of lpTokenList" [value]="token">{{token}}</mat-option>
                      </mat-select>
                    </mat-form-field>
      
                  </div>
                </td>
                <td style="max-width: 40%;">
                  <mat-form-field appearance="fill" floatLabel="always" style="max-width:85%; background-color: #F5F5F5; border-radius: 10px; color:cornsilk">
                    <mat-label>Withdraw % of Your Liquidity</mat-label>
                    <input matInput type="number" min="1" max="100" step="1" class="input-right-align" placeholder="0" #wPct (keyup)="updateWithdrawalPercentage(wPct.value)" [(ngModel)]="withdrawalPct" >
                    <!-- <span matSuffix>.00</span> -->
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td style="float:left; font-size: x-small;">
                  <!-- balance display -->            
                  &nbsp; balance: #
                </td>
                <!-- dollar equivalent -->
                <!-- <td style="text-align:right; font-size: x-small; max-width: 40%;">
                  dollar equivalent
                </td> -->
              </tr>
            </table>
          </div>
        <div class="card" id="swap-box-footer">
            <button (click)="withdrawFromPool()">Confirm</button>
        </div>
      </div>
    </div>
    <!-- end of pool box-->


  <div *ngIf="!userSession.isUserSignedIn()">
      <app-connect-wallet></app-connect-wallet>
  </div>
