<section *ngIf="userSession.isUserSignedIn()" id="pool-section">
  <div id="pool-box">
    <h2 id="pool-title" class="font-prompt">Pool</h2>

    <div id="add-remove-toggle">
      <mat-button-toggle-group class="toggle-group" name="poolChoice">
        <mat-button-toggle
          [checked]="poolChoice === 'add'"
          value="add"
          (click)="toggle('add')"
          class="first-toggle btn-toggle"
          [ngClass]="{ 'btn-toggle-active': poolChoice === 'add' }"
          >Add to Pool</mat-button-toggle
        >
        <mat-button-toggle
          [checked]="poolChoice === 'remove'"
          value="remove"
          (click)="toggle('remove')"
          class="second-toggle btn-toggle"
          [ngClass]="{ 'btn-toggle-active': poolChoice === 'remove' }"
          >Remove Liquidity</mat-button-toggle
        >
      </mat-button-toggle-group>
    </div>

    <div *ngIf="poolChoice == 'add'" id="add-div">
      <div class="token-container">
        <div class="fields">
          <mat-form-field appearance="fill" class="select-field">
            <mat-label>Select Token</mat-label>
            <mat-select (selectionChange)="selectToken($event, 'A')">
              <mat-option *ngFor="let token of tokenList" [value]="token">{{
                token
              }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field
            appearance="fill"
            floatLabel="always"
            class="select-field"
          >
            <mat-label>Amount</mat-label>
            <input
              matInput
              type="number"
              min="1"
              class="input-right-align"
              placeholder="0"
              #tokenA_Amount
              (keyup)="updateTokenAmount(tokenA_Amount.value, 'A')"
              [(ngModel)]="tokenA_amt"
            />
            <span matPrefix>$&nbsp;</span>
            <!-- <span matSuffix>.00</span> -->
          </mat-form-field>
        </div>
        <div class="balance-container">
          <span>Balance: </span>
          <span>#</span>
        </div>
      </div>

      <img
        id="pool-add-icon"
        src="../../assets/brand/pool-add-icon.svg"
        alt="Arrow down"
      />

      <div class="token-container">
        <div class="fields">
          <mat-form-field appearance="fill" class="select-field">
            <mat-label>Select Token</mat-label>
            <mat-select (selectionChange)="selectToken($event, 'B')">
              <mat-option *ngFor="let token of tokenList" [value]="token">{{
                token
              }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field
            appearance="fill"
            floatLabel="always"
            class="select-field"
          >
            <mat-label>Amount</mat-label>
            <input
              matInput
              type="number"
              min="1"
              class="input-right-align"
              placeholder="0"
              #tokenAmount_B
              (keyup)="updateTokenAmount(tokenAmount_B.value, 'B')"
              [(ngModel)]="tokenB_amt"
            />
            <span matPrefix>$&nbsp;</span>
            <!-- <span matSuffix>.00</span> -->
          </mat-form-field>
        </div>
      </div>
    </div>

    <div *ngIf="poolChoice == 'remove'" id="remove-div">
      <div class="token-container">
        <div class="fields">
          <mat-form-field appearance="fill" class="select-field">
            <mat-label>Select LP Token</mat-label>
            <mat-select (selectionChange)="selectToken($event, 'LP')">
              <mat-option *ngFor="let token of lpTokenList" [value]="token">{{
                token
              }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field
            appearance="fill"
            floatLabel="always"
            class="select-field"
          >
            <mat-label>Withdraw % of Your Liquidity</mat-label>
            <input
              matInput
              type="number"
              min="1"
              max="100"
              step="1"
              class="input-right-align"
              placeholder="0"
              #wPct
              (keyup)="updateWithdrawalPercentage(wPct.value)"
              [(ngModel)]="withdrawalPct"
            />
            <!-- <span matSuffix>.00</span> -->
          </mat-form-field>
        </div>
        <div class="balance-container">
          <span>Balance: </span>
          <span>#</span>
        </div>
      </div>
    </div>

    <button id="confirm-button" (click)="handleConfirm()">Confirm</button>
  </div>
</section>

<div class="connect-wallet-container" *ngIf="!userSession.isUserSignedIn()">
  <app-connect-wallet></app-connect-wallet>
</div>
