
<div *ngIf="userSession.isUserSignedIn()">
  <!-- <h3>Swap Apples and Oranges</h3>
  <button (click)="swap('🍊')"> Swap for 🍊 </button>
  <button (click)="swap('🍎')"> Swap for 🍎 </button> -->
  <div id="swap-box-main" class="card-container">
    <div id="swap-box-header">SWAP</div>
    <div id="token-A-box" class="token-box">token A box</div>
    <div id="arrow-row">
      <div id="down-arrow-circle" style="background-color:cornsilk; border-radius:50%; max-width: 35px; border: 2px solid #254841;">&#x2193;</div>
    </div>
    <div id="token-B-box" class="token-box">token B box</div>
    <div class="card" id="swap-box-footer">
      <button (click)="swap('🍎')">Confirm</button>
    </div>
  </div>
</div>
