<main>
  <app-header></app-header>
  <div *ngIf="userSession.isUserSignedIn()" class="token-balances">
    <table>
      <tr *ngIf="usdaBalance=='0.00' && xusdBalance=='0.00' && xbtcBalance=='0.00' && usdlpBalance=='0.00'">
        <th>Go to the Faucet page and mint some tokens!</th>
      </tr>
      <tr *ngIf="usdaBalance!='0.00' || xusdBalance!='0.00' || xbtcBalance!='0.00' || usdlpBalance!='0.00'">
        <th>{{usdaBalance}} USDA</th>
        <th>{{xusdBalance}} xUSD</th>
        <th>{{xbtcBalance}} xBTC</th>
        <th>{{usdlpBalance}} USD-LP</th>
      </tr>
    </table>
  </div>
  <router-outlet></router-outlet>
</main>
