main {
  background: url('../assets/brand/graph.jpeg');
  background-size: cover;
  background-position: top;
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  background-color: #254841;
}

.token-balances {
  width:100% !important;
  margin-top: 1.6rem;
  background-color: #e5d9b8;
  opacity: 0.7
}

.token-balances table{
  color: #1C534A;
  width:100% !important;
}