<section id="home-section">
  <div class="hero">
    <img src="../../assets/brand/bitcoins.png" alt="Bitcoins" />
    <div class="hero-content">
      <span class="font-prompt">What is BitFlow?</span>
      <h2 class="font-prompt">
        BitFlow Finance is a stable swap protocol designed to reward Bitcoin
        holders
      </h2>
      <p class="font-rubik">
        BitFlow enables traders to swap between price-similar assets on the
        Stacks blockchain (such as xUSD/USDA or different versions of wrapped
        Bitcoin). These traders pay fees to the protocol, which are then
        proportionally claimed by liquidity providers. Unlike centralized
        services, BitFlow never takes custody of your hard-earned Bitcoin.
      </p>
    </div>
  </div>

  <footer id="home-footer">
    <div class="content">
      <h3 class="font-rubik">Getting Started</h3>

      <span class="font-rubik">
        BITFLOW is the first decentralized stable swap exchange on Bitcoin
      </span>

      <div class="links">
        <a
          href="https://medium.com/@bitflowfinance/bitflow-stable-swap-testnet-guide-cb5dd424e42e"
          target="_blank"
          >Getting Started</a
        >
        <a href="https://twitter.com/Bitflow_Finance" target="_blank"
          >Follow us on Twitter</a
        >
        <a href="https://github.com/dylanft/stableswaper" target="_blank"
          >Stacks.js Repo</a
        >
      </div>
    </div>
  </footer>
</section>
