<div *ngIf="userSession.isUserSignedIn()">
  <div *ngIf="loggedInAsAdmin">
    <div class="buttons-container" id="add-pool">
      <button class="confirm-button" (click)="createPool()">
        Create xUSD/USDA Pool
      </button>
      <button class="confirm-button" (click)="addToPool()">
        Add To xUSD/USDA Pool
      </button>
    </div>
  </div>
</div>

<section *ngIf="userSession.isUserSignedIn()" id="mint-section">
  <div id="mint-box">
    <h2 id="mint-title">Mint</h2>

    <div class="token-container">
      <div class="fields">
        <mat-form-field appearance="fill" class="select-field">
          <mat-label>Select Token</mat-label>
          <mat-select (selectionChange)="selectToken($event, 'A')">
            <mat-option *ngFor="let token of tokenList" [value]="token">{{
              token
            }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field
          appearance="fill"
          floatLabel="always"
          class="select-field"
        >
          <mat-label>Amount</mat-label>
          <!-- <input matInput type="number" min="1" max="10000" class="input-right-align" placeholder="0" #tokenAmount_A (keyup)="setMintAmount(tokenAmount_A.value)"> -->
          <input
            matInput
            type="number"
            min="1"
            class="input-right-align"
            placeholder="0"
            #tokenAmount_A
            (keyup)="setMintAmount(tokenAmount_A.value)"
            (change)="setMintAmount(tokenAmount_A.value)"
          />
        </mat-form-field>
      </div>

      <div class="hint">
        <span>Max = 10000 Tokens per txn.</span>
      </div>
    </div>

    <button
      class="confirm-button"
      [disabled]="!(tokenChoice != '' && mintAmount > 0)"
      (click)="mintTokens()"
    >
      Confirm
    </button>
  </div>
</section>

<div class="connect-wallet-container" *ngIf="!userSession.isUserSignedIn()">
  <app-connect-wallet></app-connect-wallet>
</div>
