<div *ngIf="userSession.isUserSignedIn()">
    <div *ngIf="loggedInAsAdmin">
        <div class="card" id="add-pool">
            <button (click)="createPool2()">Create xUSD/USDA Pool</button>
        </div>  
    </div>
    <div *ngIf="loggedInAsAdmin">
      <div class="card" id="add-to-pool">
          <button (click)="addToPool()">Add To xUSD/USDA Pool</button>
      </div>  
    </div>

    <div id="mint-box-main" class="card-container">
      <div id="mint-box-header">MINT</div>
      <div id="token-mint-box" class="token-box">
        <table style="display:table; width:100%">
          <tr align="center">
            <td align="left" style="float:left;">
              <!-- token dropdown -->
              <div id="token-dropdown">
                <!-- <mat-slider min="1" max="100" step="1" value="50"></mat-slider> -->
                <mat-form-field appearance="fill" style="max-width:85%; background-color: cornsilk; border-radius: 10px;">
                  <mat-label>Select Token</mat-label>
                  <mat-select (selectionChange)="selectToken($event, 'A')">
                    <mat-option *ngFor="let token of tokenList" [value]="token">{{token}}</mat-option>
                  </mat-select>
                </mat-form-field>
  
              </div>
            </td>
            <td style="max-width: 40%;">
              <mat-form-field appearance="fill" floatLabel="always" style="max-width:85%; background-color: cornsilk; border-radius: 10px; color:#254841">
                <mat-label>Amount</mat-label>
                <!-- <input matInput type="number" min="1" max="10000" class="input-right-align" placeholder="0" #tokenAmount_A (keyup)="setMintAmount(tokenAmount_A.value)"> -->
                <input matInput type="number" min="1" class="input-right-align" placeholder="0" #tokenAmount_A (keyup)="setMintAmount(tokenAmount_A.value)">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td style="float:left; font-size: x-small;">
              <!-- balance display -->            
              &nbsp; Max = 10000 Tokens per txn.
            </td>
            <!-- dollar equivalent -->
            <!-- <td style="text-align:right; font-size: x-small; max-width: 40%;">
              dollar equivalent
            </td> -->
          </tr>
        </table>
      </div>
  
      
      <div class="card" id="swap-box-footer">
        <!-- <button (click)="swap('🍎')">Confirm</button> -->
        <button *ngIf="tokenChoice!='' && mintAmount > 0" (click)="mintTokens()">Confirm</button>
      </div>
    </div>
  </div>
<div *ngIf="!userSession.isUserSignedIn()">
    <app-connect-wallet></app-connect-wallet>
</div>