
<div *ngIf="userSession.isUserSignedIn()">
    <!-- <h3>Swap Apples and Oranges</h3>
    <button (click)="swap('🍊')"> Swap for 🍊 </button>
    <button (click)="swap('🍎')"> Swap for 🍎 </button> -->
    <div id="swap-box-main" class="card-container">
      <div id="swap-box-header">SWAP</div>
      <div id="token-A-box" class="token-box">
        <table style="display:table; width:100%">
          <tr align="center">
            <td align="left" style="float:left;">
              <!-- token dropdown -->
              <div id="token-dropdown">
                <!-- <mat-slider min="1" max="100" step="1" value="50"></mat-slider> -->
                <mat-form-field appearance="fill" style="max-width:85%; background-color: cornsilk; border-radius: 10px;">
                  <mat-label>Select Token</mat-label>
                  <mat-select (selectionChange)="selectToken($event, 'A')">
                    <mat-option *ngFor="let token of tokenList" [value]="token">{{token}}</mat-option>
                  </mat-select>
                </mat-form-field>
  
              </div>
            </td>
            <td style="max-width: 40%;">
              <mat-form-field appearance="fill" floatLabel="always" style="max-width:85%; background-color: cornsilk; border-radius: 10px; color:#254841">
                <mat-label>Amount</mat-label>
                <input matInput type="number" min="1" class="input-right-align" placeholder="0" #tokenAmount_A (keyup)="printTokenAmount(tokenAmount_A.value)">
                <span matPrefix>$&nbsp;</span>
                <!-- <span matSuffix>.00</span> -->
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td style="float:left; font-size: x-small;">
              <!-- balance display -->            
              &nbsp; balance: #
            </td>
            <!-- dollar equivalent -->
            <!-- <td style="text-align:right; font-size: x-small; max-width: 40%;">
              dollar equivalent
            </td> -->
          </tr>
        </table>
      </div>
  
      <div id="arrow-row">
        <div id="down-arrow-circle" style="background-color:cornsilk; border-radius:50%; max-width: 35px; border: 2px solid #254841;">&#x2193;</div>
      </div>
  
      <div id="token-B-box" class="token-box">
        <table style="display:table; width:100%">
          <tr align="center">
            <td align="left" style="float:left;">
              <!-- token dropdown -->
              <div id="token-dropdown">
                <!-- <mat-slider min="1" max="100" step="1" value="50"></mat-slider> -->
                <mat-form-field appearance="fill" style="max-width:85%; background-color: cornsilk; border-radius: 10px;">
                  <mat-label>Select Token</mat-label>
                  <mat-select (selectionChange)="selectToken($event, 'B')">
                    <mat-option *ngFor="let token of tokenList" [value]="token">{{token}}</mat-option>
                  </mat-select>
                </mat-form-field>
  
              </div>
            </td>
            <td style="max-width: 40%;">
              <mat-form-field appearance="fill" floatLabel="always" style="max-width:85%; background-color: cornsilk; border-radius: 10px; color:#254841">
                <mat-label>Amount</mat-label>
                <input matInput type="number" min="1" class="input-right-align" placeholder="0" #tokenAmount_B (keyup)="printTokenAmount(tokenAmount_B.value)">
                <span matPrefix>$&nbsp;</span>
                <!-- <span matSuffix>.00</span> -->
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td style="float:left; font-size: x-small;">
              <!-- balance display -->            
              &nbsp; balance: #
            </td>
            <!-- dollar equivalent -->
            <!-- <td style="text-align:right; font-size: x-small; max-width: 40%;">
              dollar equivalent
            </td> -->
          </tr>
        </table>      
      </div>
      
      <div class="card" id="swap-box-footer">
        <button (click)="swap('🍎')">Confirm</button>
      </div>
    </div>
  </div>
<div *ngIf="!userSession.isUserSignedIn()">
    <app-connect-wallet></app-connect-wallet>
</div>
