<div *ngIf="userSession.isUserSignedIn()">
  <section id="swap-section">
    <div id="swap-box">
      <h2 id="swap-title" class="font-prompt">Swap</h2>

      <div class="token-container">
        <div class="fields">
          <mat-form-field appearance="fill" class="select-field">
            <mat-label>Select Token</mat-label>
            <mat-select (selectionChange)="selectToken($event, 'A')">
              <mat-option *ngFor="let token of tokenList" [value]="token">{{
                token
              }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field
            appearance="fill"
            floatLabel="always"
            class="select-field"
          >
            <mat-label>Amount</mat-label>
            <input
              matInput
              type="number"
              min="1"
              class="input-right-align"
              placeholder="0"
              #tokenAmount_A
              (keyup)="updateTokenAmount(tokenAmount_A.value, 'A')"
              [(ngModel)]="tokenA_amt"
            />
            <span matPrefix>$&nbsp;</span>
            <!-- <span matSuffix>.00</span> -->
          </mat-form-field>
        </div>
        <div *ngIf="!!tokenA" class="balance-container">
          <span>Balance: {{ tokenA=='USDA' ? usdaBalance : xusdBalance }} </span>
          <span style="opacity: 0;">#</span>
        </div>
      </div>

      <img
        id="swap-arrow-down"
        src="../../assets/brand/swap-arrow-down.svg"
        alt="Arrow down"
      />

      <div class="token-container">
        <div class="fields">
          <mat-form-field appearance="fill" class="select-field">
            <mat-label>Select Token</mat-label>
            <mat-select (selectionChange)="selectToken($event, 'B')">
              <mat-option *ngFor="let token of tokenList" [value]="token">{{
                token
              }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field
            appearance="fill"
            floatLabel="always"
            class="select-field"
          >
            <mat-label>Amount</mat-label>
            <input
              matInput
              type="number"
              min="1"
              class="input-right-align"
              placeholder="0"
              #tokenAmount_B
              (keyup)="updateTokenAmount(tokenAmount_B.value, 'B')"
              [(ngModel)]="tokenB_amt"
            />
            <span matPrefix>$&nbsp;</span>
            <!-- <span matSuffix>.00</span> -->
          </mat-form-field>
        </div>
        <div *ngIf="!!tokenB" class="balance-container">
          <span>Balance: {{ tokenB=='USDA' ? usdaBalance : xusdBalance }} </span>
          <span style="opacity: 0;">#</span>
        </div>
      </div>

      <button
        id="swap-button"
        (click)="swapXforY(tokenA, tokenB, tokenA_amt, tokenB_amt)"
      >
        Swap
      </button>
    </div>
  </section>
</div>

<div class="connect-wallet-container" *ngIf="!userSession.isUserSignedIn()">
  <app-connect-wallet></app-connect-wallet>
</div>
