div {
  margin-top: 8px;
}

button {
  min-width: 120px;
  margin: 5px;
  padding-top: 5px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 5px;
  color: #fafafa;
  background-color: rgba(255, 248, 220, 0);
  border: 2px solid #45A165;
  border-radius: 28px;
  font-size: 14px;
  font-weight: 600;
}
